body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.menu-bar{

}
nav ul{
    display: flex;
    background-color: #636e72  ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 15px 0;
}
li{
    margin: 0px 20px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
     
}
.logo{
    margin-right: 300px; 
    font-size: 25px;
    border-radius: 50px;
    box-shadow: 0 0 20px 10px tomato;
     font-weight: 700;
     color: white;
     background-color: tomato;
}
.search-bar{
    margin-left: 280px;
    
}
.search-bar input{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;

}
h1{
    font-size: 50px;
}
.unique-color{
    color: darkorange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    margin: 100px 0px; 
}
.link-button:hover{
    color: orangered;
    background-image: linear-gradient(#C4E538,#A3CB38);
}
 
.food-banner{
    display: flex;
    background-image: url(images/Frame1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width h1{
    color: #57606f;
     font-size: 35px;
}
.half-width img{
    width: 80%;
    margin: 10px 0px;
}
.about-me{
    display: flex;
    background-image: url(images/Frame5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.recipies-item{
    background-color: #dfe4ea;
    padding-bottom: 80px;
     
}
.my-recipies{
    text-align: center;
    padding: 30px 25% 20px 25%;
}
.my-recipies h1{
     color: #57606f;
     font-size: 35px;
}
.food-item{
    display: flex;
    padding: 0px 70px;
     
    
}
.one-third-width{
    background-color: white;
    width: 33%;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px  0px 20px 10px #888888;
}
.one-third-width img{
    width: 100%;
    border-radius: 20px;
    height: 230px;
}
.one-third-width h1{
    font-size: 30px;
}
.contact-part{
    background-image: url(images/Frame2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
     
}
.contact-part h1{
    text-align: center;
    font-size: 30px;
    color: #57606f;
}
.contact-form{
    overflow: hidden;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
  

}
.contact-form-text{
    display: block;
    width: 100%;
    margin: 16px 0;
    border: 0px; 
    background-color: #111;
    padding: 20px 40px;
     color: #ddd;
}
.contact-form-btn{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;

}
.contact-form-btn:hover{
    color: orangered;
    background-image: linear-gradient(#C4E538,#A3CB38);
}
.footer{
    background-color: #1e272e;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
}
.footer h1{
    font-size: 30px;
    color: #57606f;
}
.footer p{
    color: darkgrey;
}